<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="UTF-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="/NewEvent.html"> Create Event </a></li>
            </ul>

        </div>
    </div>
    <div ng-controller="EventController">
        <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
        <div class="row">
            <div class="spann11">
                <h2 ng-bind="event.name"> </h2>
            </div>
        </div>
        <div ng-bind-html="snippet"> some title </div>
        <div ng-show="boolValue"></div>
        <div ng-hide="boolValue"></div>

        <button class="btn" ng-disabled="buttonDisabled" >Disabled</button>
        <div class="row">
            <div class="span3">
                <div><strong>Date: {{event.date}} </strong></div>
                <div><strong>Time:  {{event.time}} </strong></div>
            </div>
            <div class="span4">
                <address>
                    <strong> Address:</strong> <br/>
                    {{event.location.address}} <br/>
                    {{event.location.city}}, {{event.location.province}}
                </address>
            </div>
        </div>
        <div>{{ 3.1415926535 | number:2}}</div>
        <hr/>
        <h3>Sessions</h3>
        Order By:
        <select class="input-small" name="sortOrder" ng-model="sortOrder">
            <option selected value="name">Name</option>
            <option value="-upVoteCount">Votes</option>
        </select>
        Show:
        <select ng-model="query.level">
            <option selected value="">All</option>
            <option selected value="introductory">Introductory</option>
            <option selected value="intermediate">Intermediate</option>
            <option selected value="advanced">Advanced</option>
        </select>
        <ul class="thumbnails">
            <li ng-repeat="session in event.sessions | orderBy:sortOrder | limitTo:2 | filter:query">
                <div class="row session">
                    <div class="span0 well votingWidget">
                        <div class="votingButton" ng-click="upVoteSession(session)">
                            <i class="icon-chevron-up icon-white"></i>
                        </div>
                        <div class="badge badge-inverse">
                            <div> {{session.upVoteCount}}</div>
                        </div>
                        <div class="votingButton" ng-click="downVoteSession(session)">
                            <i class="icon-chevron-down"></i>
                        </div>
                    </div>
                    <div class="well span9">
                        <h4 class="well-title"> {{session.name}} </h4>
                        <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
                        <span> Duration: {{session.duration | durations}}</span>
                        <span> Level: {{session.level}}</span>
                        <p> {{session.abstract}}</p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-sanitize.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular/angular-route.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/EventController.js"></script>
    <script src="/js/services/EventData.js"></script>
    <script src="/js/filters.js"></script>

</body>
</html>